<form action="/data" method = "POST">
    <p>Good Letter, Bad Order #1 <input type = "text" name = "glbo1" /></p>
    <p>Good Letter, Bad Order #2 <input type = "text" name = "glbo2" /></p>
    <p>Good Letter, Bad Order #3 <input type = "text" name = "glbo3" /></p>
    <p>Good Letter, Bad Order #4 <input type = "text" name = "glbo4" /></p>
    <p>Good Letter, Bad Order #5 <input type = "text" name = "glbo5" /></p>
    <p>Discovered Letter #1 <input type="text" name = "dl1" /></p>
    <p>Discovered Letter #2 <input type="text" name = "dl2" /></p>
    <p>Discovered Letter #3 <input type="text" name = "dl3" /></p>
    <p>Discovered Letter #4 <input type="text" name = "dl4" /></p>
    <p>Discovered Letter #5 <input type="text" name = "dl5" /></p>
    <p>Bad Letters <input type="text" name = "bad_letters" /></p>
    <p><input type = "submit" value = "Submit" /></p>
</form>